/**
 * CURSOR
 */

.cursor {
    display: none; // hide cursor by default
    position: fixed;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid $secondary;
    z-index: 1;
    transition: 
        top .2s linear, 
        left .2s linear, 
        width .2s linear, 
        height .2s linear,
        background-color .2s linear,
        border-color .2s linear;

    @include anyPointer {
        display: block;
        pointer-events: none;
    }

    &--mousedown {
        top: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
        background-color: $secondary;
    } 

    &--mousehover {
        top: -40px;
        left: -40px;
        width: 80px;
        height: 80px;
        border: 2px solid transparent;
        background-color: rgba($secondary,0.3);
    }
}