/**
 * VARIABLES
 *
 * index
 * - breakpoints
 * - container
 * - colors
 * - fonts
 */

/**
 * breakpoints
 */
$desktop-width: 1200px;
$largedesktop-width: 1600px;

/**
 * colors
 */
$black: #292928;
$white: #FFFFFF;
$bg: #e9e3e6;
$primary: #3de9bd;
$secondary: #E8546E;